h1 {
    padding: 100px 0;
    text-align: center;
    color: rgb(49, 189, 182);
    text-shadow: 1px 1px 0 black;
}

h2 {
    
    padding: 100px 0;
    text-align: center;
    color: rgb(49, 189, 182);
    text-shadow: 1px 1px 0 black;    
}

p {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}