<h1>Om uppgiften</h1>
<p>
    Ett webbplats med tre undersidor som byggts med Angular. Webbplatsen är uppdelad i 5 komponenter. Tre
    undersidor, en header och en footer.
    I footern har jag skrivit in mitt namn i HTML filen med hjälp av text interpolation
    och alltså infogat för och efternamn med dubbla måsvingar och lagt till variabler från min footer.component.ts fil.<br><br>

    Det finns en fungerande navigering som gjorts med Angulars router-modul.<br>
    Det finns en startsida med en infogad bild. En sida för konvertering av olika enheter och denna sida som
    beskriver uppgiften samt slutsatser.
    Avslutades med att bygga sidan med "ng build --prod" och då skapas en dist/ mapp där den publicerade koden
    hamnar.
    Koden blir minifierad och optimerad för att förbättra prestanda och minska filstorleken.<br><br>
    Webbplatsen är publicerad på Netlify.
</p>
<h2>Slutsatser</h2>
<p>
    Angular har en fantastisk grund med att skapa alla nödvändiga filer och mappar, installerade program och initierade
    git
    projekt för versionshantering.
    Att komprimering och optimering görs vid byggandet är också fantastiskt.
    Man får verkligen sååååå mycket redan från början. Jag uppskattar verkligen Angular nu när jag har jobbat lite
    med det och det är smidigt att förstå. Att göra methods i ts filen till var komponent gillar jag. Det blir strukturerat och bra. 
</p>